<!DOCTYPE html>
<html>
<head>
    <title>Tentang Saya</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h1>About US</h1>
<p>Our company proudly introduces SweetPOD, a premium Light Sugar Pod solution</p>
<p>designed to transform the coffee and beverage experience in Malaysia. Inspired by</p>
<p>Japan's highly successful coffee condiment culture, SweetPOD offers a more hygienic,</p>
<p>convenient, and premium alternative to traditional sugar sachets.</p>

<p>Through a strategic Original Equipment Manufacturer (OEM) partnership, we are</p>
<p>able to bring this innovative product to market quickly and efficiently without</p>
<p>requiring significant investment in manufacturing facilities. This approach allows us to</p>
<p>focus on product innovation, brand development, and market expansion.</p>

<p>Most importantly, SweetPOD aspires to become Malaysia's first recognisable liquid</p>
<p>sugar pod brand, pioneering a new category in the local beverage industry. We aim</p>
<p>to serve a wide range of market segments, including cafés, hotels, corporate offices,</p>
<p>vending machine operators, universities, airlines, and retail consumers.</p>

<p>By combining convenience, hygiene, and a premium user experience, SweetPOD is</p>
<p>more than just a sweetening solution—it represents a new and modern way for</p>
<p>Malaysians to enjoy their beverages. We believe SweetPOD has the potential to set a</p>
<p>new industry benchmark and redefine how sugar is served and consumed across</p>
<p>Malaysia.</p>


<a href="/">Kembali Home</a>

</body>
</html>